.catalogWrap{
    text-align: center;
}
.catalog{
    &__heading{
        @include h2
    }

}
.catalogGoodsWrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 25px;
}
.catalogGood{
    position: relative;
    text-align: left;
    background-color: #F8F8F8;
    &__img {

    }
    &__promoImg{
        // display: none;
        position: absolute;
        z-index: 10;
        left: 0;
    }
    img{
        width: 100%;
    }
    &__discount{
        position: absolute;
        color: #F8F8F8;
        top: 10px;
        z-index: 20;
        left: 40%;
        @include smallText;
        margin: 0;
    }
    &__title{
        @include title
    }
    &__text{
        @include smallText
    }
    &__price{
        font-family: Comic Sans MS, Comic Sans, cursive;
    }
    &__btn{
        &:disabled{
            opacity: 0.4;
            pointer-events: none;
        }
    }
    
}