.footer{
    background-color: $paleBlackFon;
    @media (min-width:$tabletWidth) {
        height: auto
         }
}
.footerHeading{
    @include h2;
    color: $mainColor;
    text-transform: uppercase;
}
.footerWrap{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.socials{
    display: flex;
    gap: 15px;
}
.socialLink img {
    width: 35px;
    height: 35px;
}
.allRights{
    color: aliceblue;
}
.contacts{
    &__text{
        padding: 0 10px;
        color: #f1f1f1;
    }
}
.socialsHeading{
    @include title;
    margin-bottom: 20px;
    color: #f1f1f1;

}
.contactsList{
    display: grid;
    gap: 5px;
    margin-bottom: 40px;

}
.contactsInfo{
    display: flex;
    @include smallText;
    a{
        color: $mainColor;
    }
}
.socialsList{
    display: flex;
    gap: 10px;
}