html {
  position: relative;
  height: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.displayNone {
  display: none;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.colored {
  color: #f7d621;
}

.btn {
  display: block;
  margin: 15px auto;
  background: #f7d621;
  border: 1px solid #f7d621;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
}
.btn:hover, .btn :active {
  background-color: initial;
  background-position: 0 0;
  color: #f7d621;
}
.btn:active {
  opacity: 0.5;
}

.header {
  background-color: #f1f1f1;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  z-index: 20;
  display: none;
}
@media (min-width: 768px) {
  .header {
    bottom: auto;
  }
}

.headerNav {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .headerNav {
    gap: 25px;
  }
}
.headerNav__img {
  background: inherit;
}
.headerNav__left {
  display: flex;
  align-items: baseline;
  gap: 25px;
}
.headerNav__center {
  position: relative;
}
@media (min-width: 768px) {
  .headerNav__center {
    flex-grow: 1;
    display: flex;
    justify-content: end;
  }
}
.headerNav__right {
  position: relative;
  display: flex;
  align-items: center;
  gap: 25px;
}

.headerIcon {
  cursor: pointer;
  fill: rgb(143, 141, 141);
}
.headerIcon__cart {
  position: relative;
}

.burger {
  z-index: 20;
  cursor: pointer;
}
.burger__active {
  position: fixed;
  right: 0;
  top: 25px;
}
.burger__active :nth-child(1) {
  display: none;
}
.burger__active :nth-child(2) {
  transform: translate(-50%, 0%) rotate(45deg);
  position: absolute;
  background-color: #F1E4E6;
}
.burger__active :nth-child(3) {
  transform: translate(-50%, 0%) rotate(-45deg);
  background-color: #F1E4E6;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: rgb(143, 141, 141);
  transition: transform 0.8s;
}

.burgerList {
  height: 100vh;
  width: 90%;
  padding: 70px 20px;
  margin: 0;
  list-style-type: none;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 0.4s ease-out;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.burgerList__link {
  text-decoration: none;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 15px;
  color: black;
}
@media (min-width: 768px) {
  .burgerList {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  .burgerList {
    width: 10%;
  }
}
.burgerList__open {
  right: 0;
  z-index: 10;
}
.cart {
  padding: 15px;
  width: 100%;
  border: 1px solid #000;
  position: absolute;
  background-color: #FFFFFF;
  right: -15px;
  overflow: scroll;
  max-height: 300px;
  cursor: pointer;
  margin: auto;
}
.cart__quantity {
  justify-content: center;
  position: absolute;
  color: #FFFFFF;
  top: 10%;
  transform: translateY(-50%);
  background-color: #f7d621;
  border-radius: 100%;
  padding: 3px;
  min-width: 16px;
  min-height: 16px;
  left: 25px;
}
@media (min-width: 768px) {
  .cart__quantity {
    left: auto;
    right: -10px;
  }
}

.cartList {
  display: grid;
  max-width: 1200px;
  margin: auto;
}

.cartGood {
  padding: 15px;
  height: 65px;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 30px;
  align-items: start;
  border-bottom: 0.5px solid #222222;
}
@media (min-width: 768px) {
  .cartGood {
    height: 70px;
  }
}
.cartGood__img {
  width: 40px;
}
.cartGood__img img {
  width: 100%;
}
.cartGood__text {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 15px;
  margin: 0;
}
@media (min-width: 768px) {
  .cartGood__text {
    min-height: 50px;
  }
}
.cartGood__price {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 15px;
}

.totalPrice {
  padding: 20px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.cartGoodImg img {
  width: 30px;
  height: 30px;
}

.cartGoodStepper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartStepperBtn {
  border-radius: 100%;
  background-color: #f7d621;
  border: none;
  width: 25px;
  height: 25px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.delBtn {
  width: 20px;
  height: 20px;
  display: block;
  margin: auto;
  border: none;
  background-color: #FFFFFF;
}
.delBtn img {
  width: 20px;
  height: 20px;
  color: #f7d621;
}

.promo {
  background-image: url(img/promoImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.promoWrap {
  height: 363px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .promoWrap {
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .promoWrap {
    height: 564px;
  }
}

.promoImg {
  margin-left: -50px;
  display: none;
}
@media (min-width: 768px) {
  .promoImg {
    display: block;
  }
}
.promoImg__png {
  height: 366px;
}
@media (min-width: 1024px) {
  .promoImg__png {
    height: inherit;
    margin-left: -100px;
  }
}

.promoText {
  padding-left: 10px;
  border-left: 12px solid #f7d621;
  text-transform: uppercase;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
.promoText__up {
  font-size: 38px;
  font-weight: 900;
  line-height: 46px;
  letter-spacing: 0em;
}
@media (min-width: 768px) {
  .promoText__up {
    font-size: 44px;
    line-height: 53px;
  }
}
@media (min-width: 1024px) {
  .promoText__up {
    font-size: 48px;
    line-height: 58px;
  }
}
.promoText__bottom {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}
@media (min-width: 768px) {
  .promoText__bottom {
    font-size: 24px;
    line-height: 29px;
  }
}
@media (min-width: 1024px) {
  .promoText__bottom {
    font-size: 32px;
    line-height: 38px;
  }
}

.buyNow__heading {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}

.buyNowList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}

.buyNowWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buyNowGood {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}
.buyNowGood__heading {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}
.buyNowGood__title {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 15px;
}
.buyNowGood__img {
  width: 100%;
}
.buyNowGood__promoImg {
  width: 100%;
  position: absolute;
  top: 0;
}
.buyNowGood__discount {
  position: absolute;
  top: 10px;
  left: 45%;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 15px;
  color: #f7d621;
}

.catalogWrap {
  text-align: center;
  padding-bottom: 70px;
}

.catalog__heading {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}

.catalogGoodsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 25px;
}
@media (min-width: 1024px) {
  .catalogGoodsWrapper {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.catalogGood {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  text-align: left;
  background-color: #F8F8F8;
}
.catalogGood:nth-child(n+5) {
  display: none;
}
.catalogGood__img {
  width: 100%;
}
.catalogGood__title {
  min-height: 40px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 15px;
}
@media (min-width: 1024px) {
  .catalogGood__title {
    min-height: 40px;
  }
}
.catalogGood__text {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 15px;
}
.catalogGood__oldPrice {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 15px;
  text-decoration: line-through;
  text-decoration-color: red;
}
.catalogGood__price {
  font-family: Comic Sans MS, Comic Sans, cursive;
}
.catalogGood__btn:disabled {
  opacity: 0.4;
  pointer-events: none;
}

.catalogGood.isVisible {
  display: block;
}

.catalogGoodInfo {
  padding: 5px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalogGood__img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination {
  margin-top: -50px;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
}

.mySwiper {
  height: 150px;
  background-color: #F8F8F8;
}
@media (min-width: 1024px) {
  .mySwiper {
    height: 230px;
  }
}

.advantages {
  padding: 20px 0;
  text-align: center;
  background-color: #222222;
}
.advantages__heading {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #F1E4E6;
}

.advantagesWrap {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 768px) {
  .advantagesWrap {
    flex-direction: inherit;
    align-items: baseline;
  }
}

.advantage {
  color: #F1E4E6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.advantage__title {
  font-family: Comic Sans MS, Comic Sans, cursive;
}
.advantage__text {
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.feedback {
  background-image: url(/img/feedbackImg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.feedbackWrap {
  padding: 30px 0 70px 0;
}
@media (min-width: 768px) {
  .feedbackWrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 35px;
}
.review__img {
  margin-bottom: 20px;
}
.review__text {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 15px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__title {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 15px;
  margin-bottom: 15px;
}
.subscribe__text {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 15px;
  margin-bottom: 10px;
}

.subscribeForm {
  display: flex;
  align-items: center;
}
.subscribeForm input {
  border: none;
  border-top-left-radius: 6%;
  border-bottom-left-radius: 6%;
  padding: 11px;
}

.footer {
  background-color: #222222;
  height: 200px;
}
@media (min-width: 768px) {
  .footer {
    height: auto;
  }
}

.footerWrap {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footerWrap {
    flex-direction: inherit;
    justify-content: space-around;
  }
}

.socials {
  display: flex;
  gap: 15px;
}

.socialLink img {
  width: 35px;
  height: 35px;
}

.allRights {
  color: aliceblue;
}/*# sourceMappingURL=style.css.map */